@import "tailwindcss";

@config "../tailwind.config.ts";

/* ========================================== TAILWIND STYLES */

@theme {
    --color-destructive: #F24E43;
    --color-destructive-foreground: #ffffff;
}

/* Define utilities so they can be used with @apply */
@utility remove-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}


/* Typography utilities */
@utility text-36-bold {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

@utility text-32-bold {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

@utility text-24-bold {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

@utility text-18-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

@utility text-16-semibold {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

@utility text-16-regular {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

@utility text-14-medium {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

@utility text-14-regular {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

@utility text-12-regular {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

@utility text-12-semibold {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

@layer utilities {
    /* ===== UTILITIES */
    .sidebar {
        @apply remove-scrollbar w-full max-w-72 flex-col overflow-auto bg-black-800 px-7 py-10;
    }

    .left-sidebar {
        @apply hidden lg:flex;
    }

    .right-sidebar {
        @apply hidden xl:flex;
    }

    .clip-text {
        @apply bg-clip-text text-transparent;
    }

    .bg-image {
        @apply bg-black-900 bg-light-rays bg-cover bg-no-repeat;
    }

    .header {
        @apply text-32-bold md:text-36-bold;
    }

    .sub-header {
        @apply text-18-bold md:text-24-bold;
    }

    .container {
        @apply relative flex-1 overflow-y-auto px-[5%];
    }

    .sub-container {
        @apply mx-auto flex size-full flex-col py-10;
    }

    .side-img {
        @apply hidden h-full object-cover md:block;
    }

    .copyright {
        @apply text-14-regular justify-items-end text-center text-dark-600 xl:text-left;
    }

    /* ==== SUCCESS */
    .success-img {
        @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-10;
    }

    .request-details {
        @apply flex w-full flex-col items-center gap-8 border-y-2 border-dark-400 py-8 md:w-fit md:flex-row;
    }

    /* ===== ADMIN */
    .admin-header {
        @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-dark-200 px-[5%] py-5 shadow-lg xl:px-12;
    }

    .admin-main {
        @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
    }

    .admin-stat {
        @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
    }

    /* ==== FORM */
    .radio-group {
        @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-dark-500 bg-dark-400 p-3;
    }

    .checkbox-label {
        @apply cursor-pointer text-sm font-medium text-dark-700 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
    }

    /* ==== File Upload */
    .file-upload {
        @apply text-12-regular flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-dark-500 bg-dark-400 p-5;
    }

    .file-upload_label {
        @apply flex flex-col justify-center gap-2 text-center text-dark-600;
    }

    /* ==== Stat Card */
    .stat-card {
        @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
    }

    /* ==== Status Badge */
    .status-badge {
        @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
    }

    /* Data Table */
    .data-table {
        @apply z-10 w-full overflow-hidden rounded-lg border border-dark-400 shadow-lg;
    }

    .table-actions {
        @apply flex w-full items-center justify-between space-x-2 p-4;
    }

    /* ===== ALIGNMENTS */
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    /* =====  SHADCN OVERRIDES */
    .shad-primary-btn {
        @apply !bg-green-500 !text-white;
    }

    .shad-danger-btn {
        @apply !bg-red-700 !text-white;
    }

    .shad-gray-btn {
        @apply !border !border-dark-500 !cursor-pointer !bg-dark-400 !text-white;
    }

    .shad-input-label {
        @apply !text-14-medium !text-dark-700;
    }

    .shad-input {
        @apply !bg-dark-400 placeholder:!text-dark-600 !border-dark-500 !h-11 focus-visible:!ring-0 focus-visible:!ring-offset-0;
    }

    .shad-input-icon {
        @apply !bg-dark-400 placeholder:!text-dark-600 !border-dark-500 !h-11 focus-visible:!ring-0 focus-visible:!ring-offset-0;
    }

    .shad-textArea {
        @apply !bg-dark-400 placeholder:!text-dark-600 !border-dark-500 focus-visible:!ring-0 focus-visible:!ring-offset-0;
    }

    .shad-combobox-item {
        @apply data-[disabled=true]:!pointer-events-none data-[disabled=true]:!opacity-50;
    }

    .shad-combobox-trigger {
        @apply !h-11;
    }

    .shad-select-trigger {
        @apply !bg-dark-400 placeholder:!text-dark-600 !border-dark-500 !h-11 focus:!ring-0 focus:!ring-offset-0;
    }

    .shad-select-content {
        @apply !bg-dark-400 !border-dark-500;
    }

    .shad-dialog {
        @apply !bg-dark-400 !border-dark-500;
    }

    .shad-dialog button {
        @apply focus:!ring-0 focus:!ring-offset-0 focus-visible:!border-none focus-visible:!outline-none focus-visible:!ring-transparent focus-visible:!ring-offset-0;
    }

    .shad-error {
        @apply !text-red-400;
    }

    .shad-table {
        @apply !rounded-lg !overflow-hidden;
    }

    .shad-table-row-header {
        @apply !border-b !border-dark-400 !text-light-200 hover:!bg-transparent;
    }

    .shad-table-row {
        @apply !border-b !border-dark-400 !text-light-200;
    }

    .shad-otp {
        @apply !w-full !flex !justify-between;
    }

    .shad-otp-slot {
        @apply !text-36-bold !justify-center !flex !border !border-dark-500 !rounded-lg !size-16 !gap-4;
    }

    .shad-alert-dialog {
        @apply !space-y-5 !bg-dark-400 !border-dark-500 !outline-none;
    }

    .shad-sheet-content button {
        @apply !top-2 focus:!ring-0 focus:!ring-offset-0 focus-visible:!border-none focus-visible:!outline-none focus-visible:!ring-transparent focus-visible:!ring-offset-0;
    }

    /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
    .input-phone {
        @apply !mt-2 !h-11 !rounded-md !px-3 !text-sm !border !bg-dark-400 placeholder:!text-dark-600 !border-dark-500;
    }

    /* =====  REACT DATE PICKER OVERRIDES */
    .date-picker {
        @apply !overflow-hidden !border-transparent !w-full placeholder:!text-dark-600 !h-11 !text-14-medium !rounded-md !px-3 !outline-none;
    }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
    display: flex;
    align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
    background-color: #1a1d21 !important;
    border-color: #363a3d !important;
    color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
    color: #ffffff !important;
}

.react-datepicker__triangle {
    fill: #1a1d21 !important;
    color: #1a1d21 !important;
    stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
    background-color: #363a3d !important;
}

.react-datepicker__input-container input {
    background-color: #1a1d21 !important;
    width: 100%;
    outline: none;
}

.react-datepicker__day--selected {
    background-color: #24ae7c !important;
    color: #ffffff !important;
    border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
    background-color: #24ae7c !important;
}

.react-datepicker__time-container {
    border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
    display: flex !important;
    align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
    outline: none;
    margin-left: 4px;
    background: #1a1d21;
    font-size: 14px;
    font-weight: 500;
}

/* Hide the phone icon, show only the globe */
.PhoneInputInternationalIconPhone {
    display: block;
}

.PhoneInputInternationalIconGlobe {
    opacity: 1;
}

.PhoneInputInput::placeholder {
    color: #1a1d21;
}